doctype html
html
    head
        title= Data
    body
        a(href='/') Home Page /
        a(href='/blog') Blog  /
        a(href='/about') About Us
        h1  Posted Data
        label User Name : !{ object.userName }
        br
        label Password  : !{ object.password }